@import url(http://fonts.googleapis.com/css?family=Roboto);
body,
input,
button,
label,
.textintro {
  font-family: 'Roboto', sans-serif;
}

.login {
  background-image: url("../img/banner_1.jpg");
  width: 100%;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 650px;
}

.form-wrap {
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
}

.form-horizontal {
  margin: 100px auto;
  background-color: rgba(0, 0, 0, 0.25);
}

.input-group {
  padding: 10px 0;
}

.remember input[type=checkbox] {
  margin: 10px 15px 0 0;
  color: green;
}
.remember .btn {
  padding: 6px 30px;
  margin-left: 90px;
}

.checkbox {
  padding-right: 15px;
}

.gliphicon-user {
  width: 35px;
  height: 35px;
}

input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
  border: 1px solid #509D12;
}

.ng-invalid .btn {
  background: gray;
}

.error {
  color: red;
  padding-bottom: 10px;
}

.textintro {
  text-align: center;
  color: #000;
  font-weight: 500;
}
.textintro h1 {
  font-size: 35px;
}
.textintro p {
  font-size: 20px;
  line-height: 0.8;
}

nav {
  content: '';
  display: block;
  clear: both;
  background-color: #cecece;
}
nav .pull-right {
  list-style: none;
}
nav .pull-right li {
  float: left;
}
nav .pull-right {
  font-size: 25px;
  color: blue;
  font-weight: 500;
}
